header {
  min-height: 50px;
  /*border-bottom: 1px solid rgb(195, 195, 195);*/
}
h1 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 30px;
}
.red {
  color: rgb(192, 0, 0);
}
.blue {
  color: #428bca;
}
#validate-button, .alert {
  font-size: 18px !important;
}
.ace_editor {
  font-size: 24px !important;
}
.alert {
  margin-top: 10px;
  min-height: 100px;
}
footer {
  margin-top: 10px;
  font-size: 16px;
  color: rgb(40, 40, 40);
  text-align: center;
}
.navbar {
  min-height: 0px !important;
}
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
}