header {
  min-height: 50px;
  h1 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 26px !important;
    vertical-align: middle;
    line-height: 50px;
  }
}
.nav, .dropdown li {
  font-size: 18px !important;
}
.red {
  color: rgb(192, 0, 0);
}
.blue {
  color: #428bca;
}
.ace_editor, .alert {
  font-size: 22px !important;
  margin-top: 15px;
  margin-bottom: 15px;
}
.alert {
  margin-top: 10px;
  min-height: 140px;
}
footer {
  margin-top: 10px;
  font-size: 16px;
  color: rgb(40, 40, 40);
  text-align: center;
}
.fieldset-label {
  margin: 0px;
  padding-right: 10px;
  height: 25px;
  vertical-align: middle;
}